/node_modules
node_modules
/.env
/package-lock.json
.env
/.env.development.local
/.env.test.local
/.env.production.local
/.next
/.nuxt
/dist
/.cache  
.gitIgnore
/.gitIgnore
.DS_Store
*.log
*.swp

package-lock.json